<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Indexes
    RewriteEngine On

    # Remove index.php from the URL
    RewriteCond %{REQUEST_URI} ^(.*)/index.php/(.*)$
    RewriteRule ^(.*)/index.php/(.*)$ /$2 [R=301,L]

    # If the requested file or directory exists, don't rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite the URL to go through index.php
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]

    # Make index.php the default directory file
    DirectoryIndex index.php
</IfModule>




<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

    ErrorDocument 404 /index.php
</IfModule> 