@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  
}
html {
  overflow: scroll;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.dashboard-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.dashboard-logo img {
  width: 40%;
  padding-bottom: 2rem;
}
.brand {
  font-size: 3rem;
  text-align: center;
  margin: auto;
  padding: 0;
  color: var(--blue);
  font-weight: bolder;
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));

}
.due-section {
  margin-left: auto;
  width: fit-content;
}
.title {
  font-size: 1.1rem;
  font-weight: bold;
}
.label {
  font-size: 0.9rem;
  color: gray;
}

.search-bar {
  padding: 15px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 123, 255, 0.1);
}

.search-bar:focus {
  outline: none;
  border-color: #99c4f1;
  box-shadow: 0 10px 25px rgba(153,196,241, 0.3);
}

.search-bar::placeholder {
  color: #6c757d;
  opacity: 0.7;
}

/* data table */
.search-result {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.data-table {
  width: 100%;
  overflow: auto;
}
.table {
  width: 100%;
  overflow: auto;
}
/*  */
#onprocess.tab-pane, #hold.tab-pane {
  width: 100%;
}
#nav-tabContent.tab-content {
  width: 100%;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: none;
  background-color: white;
}
.nav-link {
  color: black;
  padding: 1rem;
}
.nav-tabs {
  display: flex;
}
.fade {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

/* accounting */
.agent-section {
  border-right: 1px solid lightgray;
}
.agent-img, .agent-img img  {
  background-color: #6c757d;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.agent-name {
  text-align: center;
}
.sidebar {
  padding: 20px;
  margin: 0;
  background-color: red!important;
  border-right: 1px solid lightgray;
}
/* Breakdown Window */
.breakdown-toggle-btn {
  position: fixed;
  right: 10px;
  bottom: 100px;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  z-index: 100;
}
.breakdown-window {
  position: fixed;
  right: 0;
  top: 10%;
  width: 30%;
  max-height: 400px; /* Set max height */
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  cursor: grab;

}
.breakdown-window::before {
  content: '';
  position: absolute;
  left: -15px; 
  top: 20px;    
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.breakdown-window.open {
  padding-left: 0 !important;
  transform: translateX(0);
}
.breakdown-content {
  background-color: #fff3cd;
  flex-grow: 1; /* Makes this section flexible to take remaining space */
  padding-right: 10px; /* Avoid content touching the scrollbar */
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
}
.breakdown-header {
  background-color: #856404 ;  /* Google blue */
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  z-index: 1; 
  cursor: grab;
}
.breakdown-header:active {
  cursor: grabbing; /* Change cursor while dragging */
}
/* Notes Window */
/* Chat container style */
.notes-window {
  position: fixed;
  right: 100px !important;
  bottom: 0;
  width: 30%;
  max-height: 400px; /* Set max height */
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  /* display: flex;
  flex-direction: column; */
}
.notes-window::before {
  content: '';
  position: absolute;
  left: 150px; 
  top: 20px;    
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
}
/* Floating chat toggle button */
.chat-toggle-btn {
  background-color: #3d83d5;
  position: fixed;
  right: 10px;
  bottom: 20px;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  z-index: 100;
}

/* When the chat is open */
.notes-window.open {
  padding-left: 0 !important;
  transform: translateY(0);
}

/* Header styling */
.notes-header {
  background-color: #4285F4;  /* Google blue */
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  z-index: 1; 
}

/* Chat message styling */
.chat-messages {
  flex-grow: 1; /* Makes this section flexible to take remaining space */
  padding-right: 10px; /* Avoid content touching the scrollbar */
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
}
.chat-messages .receiver, .chat-messages .sender {
  margin-bottom: 15px; /* Adds space between message blocks */
}
.chat-messages::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}


.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  font-size: 0.9rem;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff; 
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}
/* .message {
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 20px;
  word-wrap: break-word;
} */

/* Chat input area */
.chat-input {
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
  font-size: 14px;
  position: sticky;
  bottom: 0;
  width: 100%;
}


.profile-notes {
  display: flex;
  justify-content: center;
  align-items: flex-end;  
  padding-right: 8px;
}

.profile-notes img {
  margin-top: 30px;
  margin-right: 5px;
  height: 40px;
}

.profile-notes.right{
  padding-left: 15px;
}

.small {
  font-size: 0.7rem;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 


}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

  .data-table {
    width: 100%;
    overflow: auto;
  }

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

  .agent-section {
    padding-bottom: 1rem;
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
  .data-table {
    width: 100%;
    overflow: auto;
  }

}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .main-container {
    padding: 0;
    background-color: white;
  }
  .cont {
    padding: 0.5rem;
    border-radius: 0;
    border: none
  }

  .agent-section {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
  .vessel-section {
    padding: 0 2rem;
  }

  .nav-tabs {
    display: flex !important;
    justify-content: center;
  }
  .nav-link {
    width: 47vw;
  }
  .dtTitle {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }
  .dtTitle .title {
    font-size: 0.8rem;
  }
  .data-table {
    width: 100%;
    overflow: auto;
  }
}